@use "./variables" as *;
@use "./mixins" as *;

.header {
  height: 52px;
  padding-inline: $padding-inline-mb;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $black-70;

  &__icon {
    width: 24px;
    height: 24px;
  }

  @include on-tablet {
    &__block__second {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  @include on-desktop-normal {
    padding-inline: 40px;
    margin-bottom: 64px;

    &__block__first {
      display: flex;
      gap: 84px;
    }
  }
}

.nav {
  display: none;

  &__list {
    display: flex;
    gap: 24px;
  }

  &__link {
    color: $white;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
  }

  @include on-desktop-normal {
    display: block;
  }
}

.logo__picture {
  width: 150px;
  height: 18px;
}

.burger__menu {
  padding: 10px;
  cursor: pointer;

  @include on-desktop-normal {
    display: none;
  }
}

.phone {
  &__block {
    display: none;
  }

  @include on-tablet {
    &__block {
      display: flex;
      align-items: center;
      gap: 4px;

      padding-inline: 16px;
    }

    &__number {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;

      color: $white-70;
    }
  }
}

.lang,
.sign__in {
  display: none;

  @include on-desktop-normal {
    display: flex;
    align-items: center;
    gap: 8px;

    padding-inline: 16px;
    color: $white-70;
  }
}
