@use "./variables" as *;
@use "./mixins" as *;

.header {
  // width: 100%;
  height: 52px;
  padding-inline: $padding-inline-mb;
  // margin-bottom: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $black-70;

  @include on-tablet {
    &__block__second {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}

.logo__picture {
  width: 150px;
  height: 18px;
}

.burger__menu {
  width: 24px;
  height: 24px;
  padding: 10px;
  cursor: pointer;
}

.phone {
  &__block {
    display: none;
  }
  
  @include on-tablet {
    &__block {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    &__img {
      width: 24px;
      height: 24px;
    }

    &__number {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;

      color: $white-50;
    }
  }
}
