body {
  margin: 0;
}

div, p, ul, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #121214;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  height: 52px;
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E1E20;
}
.header__icon {
  width: 24px;
  height: 24px;
}
@media (min-width: 768px) {
  .header__block__second {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
@media (min-width: 1500px) {
  .header {
    padding-inline: 40px;
    margin-bottom: 64px;
  }
  .header__block__first {
    display: flex;
    gap: 84px;
  }
}

.nav {
  display: none;
}
.nav__list {
  display: flex;
  gap: 24px;
}
.nav__link {
  color: #FEFEFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
@media (min-width: 1500px) {
  .nav {
    display: block;
  }
}

.logo__picture {
  width: 150px;
  height: 18px;
}

.burger__menu {
  padding: 10px;
  cursor: pointer;
}
@media (min-width: 1500px) {
  .burger__menu {
    display: none;
  }
}

.phone__block {
  display: none;
}
@media (min-width: 768px) {
  .phone__block {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-inline: 16px;
  }
  .phone__number {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #BDBDBE;
  }
}

.lang,
.sign__in {
  display: none;
}
@media (min-width: 1500px) {
  .lang,
  .sign__in {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-inline: 16px;
    color: #BDBDBE;
  }
}

.brakepoints {
  display: none;
}
@media (min-width: 1500px) {
  .brakepoints {
    display: block;
    margin-bottom: 40px;
  }
}
@media (min-width: 1920px) {
  .brakepoints {
    padding-left: 228px;
  }
}
.brakepoints__content {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 24px;
  padding-inline: 32px;
}
.brakepoints__title {
  color: #919192;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.brakepoints__title__goal {
  color: #E9E9E9;
}
.brakepoints__img {
  width: 16px;
  height: 16px;
}

@media (min-width: 1500px) {
  .main__blocks {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 24px;
  }
  .main__blocks__part--1 {
    width: 768px;
    background-color: #1E1E20;
    border-radius: 16px;
    margin-bottom: 120px;
  }
}
@media (min-width: 1920px) {
  .main__blocks__part--1 {
    width: 968px;
  }
}
.main__block__first {
  margin-bottom: 32px;
}
.main__block__contacts {
  height: 466px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 16px;
  background: url(./../images/bg-car.jpg) no-repeat;
  background-position: 25% 76%;
  background-size: 268%;
}
@media (min-width: 768px) {
  .main__block__contacts {
    justify-content: flex-start;
    background-position: 25% 67%;
    background-size: 205%;
    padding-inline: 32px;
  }
}
@media (min-width: 1500px) {
  .main__block__contacts {
    height: 472px;
    background-position: 5% 67%;
    background-size: 150%;
  }
}
.main__button__block {
  display: flex;
  justify-content: center;
  padding-inline: 16px;
}
@media (min-width: 1500px) {
  .main__button__block {
    display: none;
  }
}

.car__info {
  padding: 40px 16px 0px;
  display: flex;
  flex-direction: column;
  color: #FEFEFF;
}
@media (min-width: 500px) {
  .car__info {
    align-items: center;
  }
}
@media (min-width: 768px) {
  .car__info {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-inline: 32px;
  }
}
@media (min-width: 1500px) {
  .car__info {
    padding: 48px 0px 40px;
    margin-inline: 24px;
    border-bottom: 1px solid #4F4F51;
  }
}
.car__img__main {
  width: 361px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .car__img__main {
    width: 344px;
    height: 187px;
    align-self: center;
  }
}
.car__name {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .car__name {
    font-size: 24px;
  }
}
@media (min-width: 1500px) {
  .car__name {
    font-size: 32px;
  }
}
.car__price {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .car__price {
    margin-bottom: 32px;
  }
}
@media (min-width: 1500px) {
  .car__price {
    font-size: 24px;
  }
}
.car__list__description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.car__price__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .car__price__title {
    font-size: 20px;
    margin-bottom: 16px;
  }
}
.car__price__decription {
  display: flex;
  align-items: center;
}
.car__check__name {
  font-size: 14px;
  font-weight: 300;
  line-height: 100%;
}
.car__check {
  width: 16px;
  margin-right: 8px;
}
.car__more__price {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .car__more__price {
    margin-bottom: 32px;
  }
}
.car__more__functions {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.car__function--general {
  height: 28px;
  width: 142px;
  display: flex;
  align-items: center;
}
.car__function--1, .car__function--3 {
  margin-bottom: 4px;
}

.icon__picture {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.process {
  /* 
  &__progress--1 {
  }
  &__progress--2 {
    position: relative;
  }
  &__progress--3 {
    position: relative;
  }
  &__progress--4 {
    position: relative;
  } */
}
.process__car {
  display: none;
  color: #919192;
  background-color: #1E1E20;
  border-top: 1px solid #656566;
  border-bottom: 1px solid #656566;
  padding-block: 24px 16px;
  margin-bottom: 32px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.process__car__info {
  padding: 8px 16px;
  display: flex;
  gap: 16px;
  align-items: center;
}
.process__car__img {
  width: 74px;
  height: 48px;
}
.process__car__title {
  font-weight: 500;
  font-size: 18px;
  color: #FEFEFF;
  margin-bottom: 8px;
}
.process__car__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.process__car__descr--2 {
  color: #FEFEFF;
}
@media (min-width: 1500px) {
  .process__car {
    display: none;
  }
}
.process__info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.process__progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98px;
  height: 46px;
  text-align: center;
  line-height: 52px;
  font-weight: 300;
  font-size: 12px;
}
.process__progress__general {
  position: relative;
}
@media (min-width: 768px) {
  .process__progress {
    width: 192px;
    height: 51px;
  }
}
.process__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  z-index: 1;
}
.process__image--gray {
  width: 12px;
  height: 12px;
}
.process__line {
  height: 1px;
  width: 50px;
  background-color: #4F4F51;
  position: absolute;
  top: 50%;
}
.process__line--1 {
  background-color: #B68867;
}
.process__line--left {
  left: 50%;
}
.process__line--right {
  right: 50%;
}
@media (min-width: 768px) {
  .process__line {
    width: 98px;
  }
}

.button {
  color: #FEFEFF;
  background-color: #B68867;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.button__main--1 {
  width: 361px;
  height: 56px;
  padding: 18px 24px;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .button__main--1 {
    width: 197px;
    height: 56px;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FEFEFF;
}
@media (min-width: 768px) {
  .contacts {
    align-items: flex-start;
  }
}

.avatars {
  margin-bottom: 32px;
}

.avatar {
  width: 56px;
  height: 56px;
}
.avatar--1 {
  z-index: 2;
}
.avatar--2 {
  z-index: 1;
}
.avatar:not(:first-child) {
  margin-left: -16px;
}

.contact__title {
  align-self: flex-start;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 8px;
}
.contact__decription {
  align-self: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 32px;
}

.button__contacts {
  width: 140px;
  height: 44px;
  padding: 12px 24px;
  font-weight: 600;
}

.footer {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  color: #919192;
}
@media (min-width: 768px) {
  .footer {
    padding: 64px 32px 48px;
  }
}
.footer__first__part {
  border-bottom: 1px solid #919192;
  padding-bottom: 56px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .footer__first__part {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .footer__second__part {
    display: flex;
    justify-content: space-between;
  }
}
.footer__logo {
  width: 126px;
  height: 15px;
  margin-bottom: 24px;
}
.footer__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 16px;
  }
}

.upToDate__title {
  color: #FEFEFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 6px;
}
.upToDate__input {
  border: 1px solid #919192;
  border-radius: 8px;
  background-color: transparent;
  padding-inline: 14px;
  margin-right: 16px;
  box-sizing: border-box;
  width: 215px;
  height: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
@media (min-width: 768px) {
  .upToDate__input {
    width: 250px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1500px) {
  .upToDate__input {
    width: 320px;
  }
}
.upToDate__button {
  background-color: rgba(182, 136, 103, 0.2);
  width: 108px;
  height: 44px;
}
@media (min-width: 768px) {
  .upToDate__button {
    width: 124px;
    height: 48px;
  }
}

.company__rights {
  margin-bottom: 24px;
  line-height: 140%;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .company__rights {
    margin-bottom: 0px;
    font-size: 16px;
  }
}
.company__policy {
  display: flex;
  gap: 16px;
  line-height: 140%;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .company__policy {
    font-size: 16px;
  }
}

.extras {
  display: none;
  color: #FEFEFF;
  padding-inline: 16px;
  margin-bottom: 32px;
  justify-content: center;
}
@media (min-width: 1500px) {
  .extras {
    display: flex;
    border-bottom: 1px solid #4F4F51;
    margin-inline: 24px;
    padding: 0px 0px 40px;
  }
}
.extras__title {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 24px;
}
@media (min-width: 1500px) {
  .extras__title {
    font-size: 24px;
  }
}
.extras__blocks {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(2, 176px);
  gap: 8px;
}
@media (min-width: 768px) {
  .extras__blocks {
    grid-template-columns: repeat(2, 356px);
  }
}
@media (min-width: 1920px) {
  .extras__blocks {
    grid-template-columns: repeat(3, 294px);
    gap: 24px 16px;
  }
}

.extra {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #39393B;
  width: 176px;
  height: 108px;
}
@media (min-width: 768px) {
  .extra {
    height: 77px;
    width: 356px;
  }
}
@media (min-width: 1920px) {
  .extra {
    width: 294px;
  }
}
.extra--active {
  background-color: #B68867;
}
.extra__main__info {
  padding: 8px 8px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.extra__main__info__second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 64px;
}
@media (min-width: 768px) {
  .extra__main__info {
    padding-left: 8px;
    flex-direction: row;
    gap: 16px;
  }
  .extra__main__info__first {
    height: 100%;
    padding-right: 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.extra__img {
  width: 20px;
  height: 20px;
}
.extra__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
@media (min-width: 768px) {
  .extra__title {
    font-size: 16px;
  }
}
.extra__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}
@media (min-width: 768px) {
  .extra__price {
    font-size: 20px;
  }
}
.extra__button {
  width: 33px;
  padding: 42px 4.5px;
  color: #FEFEFF;
  background-color: #4F4F51;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .extra__button {
    padding: 26px 10px;
  }
}
.extra__button--active {
  background-color: #C5A085;
}
.extra__button__picture {
  width: 24px;
  height: 24px;
}

.insurances {
  display: none;
  color: #FEFEFF;
  padding-inline: 16px;
  margin-bottom: 32px;
  justify-content: center;
}
.insurances__title {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 24px;
}
@media (min-width: 1500px) {
  .insurances__title {
    font-size: 24px;
  }
}
.insurances__block {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(1, 361px);
  grid-template-rows: 280px 271px 267px;
  gap: 8px;
}
@media (min-width: 768px) {
  .insurances__block {
    grid-template-columns: repeat(3, 234px);
    grid-template-rows: 374px;
  }
}
@media (min-width: 1920px) {
  .insurances__block {
    grid-template-columns: repeat(3, 294px);
    grid-template-rows: 327px;
  }
}
@media (min-width: 1500px) {
  .insurances {
    display: flex;
  }
}

.insurance {
  padding: 16px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
}
.insurance__active {
  position: relative;
  background-color: #B68867;
  overflow: hidden;
}
.insurance__sub__title {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 8px;
}
.insurance__title {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 16px;
}
@media (min-width: 1920px) {
  .insurance__title {
    font-size: 32px;
  }
}
.insurance__descriptions {
  position: relative;
  z-index: 3;
}
.insurance__description__head {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 16px;
}
@media (min-width: 1920px) {
  .insurance__description__head {
    font-size: 14px;
  }
}
.insurance__description__main {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 16px;
  display: flex;
}
.insurance__description__sub {
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
  color: #656566;
}
.insurance__icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.insurance__active__effect {
  position: absolute;
  width: 306px;
  height: 306px;
  border-radius: 29px;
  background-color: #c69c8b;
  opacity: 0.5;
  transform: rotate(18deg);
}
.insurance__active__effect--1 {
  left: 250px;
  top: 30px;
}
.insurance__active__effect--2 {
  left: 135px;
  top: 115px;
}
.insurance__active__effect--3 {
  top: 200px;
  left: 40px;
}

.confirming__order {
  color: #FEFEFF;
  padding-inline: 16px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (min-width: 1500px) {
  .confirming__order {
    display: flex;
  }
}
.confirming__order__title {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 24px;
  align-self: flex-start;
}
@media (min-width: 1500px) {
  .confirming__order__title {
    font-size: 24px;
  }
}
.confirming__order__info {
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .confirming__order__info__content {
    display: flex;
    gap: 32px;
  }
}
@media (min-width: 1500px) {
  .confirming__order__info__content {
    flex-direction: column;
  }
}
.confirming__order__buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .confirming__order__buttons {
    flex-direction: row;
  }
}

.order__fields {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 24px;
}
.order__field {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.order__star {
  color: #B68867;
}
.order__input {
  height: 48px;
  width: 361px;
  padding-left: 12px;
  border-radius: 8px;
  border: 1px solid #4F4F51;
  background-color: transparent;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #919192;
}
@media (min-width: 1500px) {
  .order__input {
    width: 448px;
    box-sizing: content-box;
  }
}
.order__general__info {
  background-color: #1E1E20;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 24px;
  width: 361px;
  height: 193px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .order__general__info {
    width: 352px;
  }
}
@media (min-width: 1500px) {
  .order__general__info {
    width: 448px;
    box-sizing: content-box;
    margin-bottom: 32px;
    padding-bottom: 0px;
  }
}
.order__general__main {
  border-bottom: 1px solid #4F4F51;
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding-bottom: 24px;
  margin-bottom: 8px;
}
.order__info {
  display: flex;
  justify-content: space-between;
}
.order__info__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.order__info__name__total {
  font-weight: 500;
  font-size: 18px;
}
.order__info__descr {
  align-self: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
}
.order__info__descr__total {
  font-weight: 500;
  font-size: 18px;
}
.order__accept__terms {
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}
.order__accept__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  accent-color: #B68867;
  margin-right: 12px;
}
.order__accept__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.order__button {
  text-align: center;
  color: #FEFEFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  box-sizing: border-box;
  width: 361px;
  height: 56px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.order__button__later {
  background-color: rgba(182, 136, 103, 0.2);
}
.order__button__now {
  background-color: #B68867;
}
@media (min-width: 768px) {
  .order__button {
    width: 230px;
  }
}

/*# sourceMappingURL=main.css.map */
