$primary: #B68867;
$primary-dark: #BC8473;
$primary-light: #C5A085;
$primary-card:#c69c8b;

$white:#FEFEFF;
$white-05: #1E1E20;
$white-10: #39393B;
$white-20: #4F4F51;
$white-30: #656566;
$white-50: #919192;

$black-100: #000;
$black-70: #1E1E20;
$black-bg: #121214;

$padding-inline-mb: 16px;
$padding-tablet: 32px;
$font-family: "Inter", sans-serif;
